*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target

# VM
.vagrant
.user_vagrant.rb

# OS
.DS_Store
._*

# Logs
*.log

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea
.idea/
